.header-elements {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    box-shadow: 0.125rem 0.125rem 0.313rem rgba(0, 0, 0, 0.63);
    justify-content: space-between;
    text-align: center;
    background-color: white;
    align-items: center;
}

.search-box {
    padding: 1.1rem;
    width: 20rem;
    border-radius: 1rem;
    background-color: white;
}

.product-category-list {
    display: inline;
    padding: 1.2rem;
    width: auto;
    border-radius: 1rem;
    border: 0.09rem solid black;
}
.users-list {
    display: inline;
    padding: 1.2rem;
    /*width: auto;*/
    border-radius: 1rem;
    border: 0.09rem solid black;
}

.clear-button {
    display: inline-block;
    position: relative;
    right: 2.5rem;
    top: 0.1rem;
    cursor: pointer;
    padding: 0.625rem;
}

.cart-no-product-found{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.cart-no-product-found>h1{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.cart>button{
    padding: 1rem;
    background-color: black;
    border: 0.09rem solid black;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 1rem;
}

.cart-no-product-found>button{
    padding: 1rem;
    background-color: black;
    border: 0.09rem solid black;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0.125rem 0.125rem 0.125rem grey;
    border-radius: 1rem;
}
.cart-no-product-found>button:hover,.cart>button:hover{
    background-color: white;
    color: black;
}


